html,
body {
    height: 100%;
}

/*#region Whole Page Properties */
#workSpace {
    height: 95%;
    width: 100%;
    background-color: blue;
}

#threeDviewArea {
    background-color: chartreuse;
    height: 60%;
}

#staticViewArea {
    background-color: darkgreen;
    height: 40%;
    text-align: center;
}

.viewarea-div {
    width: 100%;
}

.workspace-div {
    height: 100%;
    float: left;
}

#elecTable-parent {
    width: 40%;
}

#viewArea {
    width: 60%;
}

.ElecSlice {
    padding: 20px 0px 0px 0px;
    object-fit: scale-down;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#sceneGui {
    z-index: 2;
    position: fixed;
    max-width: 10%;
    right: 0;
}

/*#endregion*/

/*#region ElecTable Button Group */

#elecTable-bttn-group {
    height: 2%;
    width: 100%
}

#elecTable-bttn-group button {
    background-color: #4CAF50;
    /* Green background */
    border: 0px solid rgb(160, 170, 160);
    /* Green border */
    color: white;
    /* White text */
    padding: 0px 0px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
    width: 50%;
    height: 100%;
}

/* Clear floats (clearfix hack) */
#elecTable-bttn-group:after {
    content: "";
    clear: both;
    display: table;
}

#elecTable-bttn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}


/* Add a background color on hover */
#elecTable-bttn-group button:hover {
    background-color: #3e8e41;
}

/*#endregion */

/*#region Navigation Bar */

#navigationBar {
    height: 5%;
    width: 100%;
    background-color: red;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    height: 100%;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*#endregion*/
