html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#navBar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5%;
}

#navbar-son {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#workSpace {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 95%;
}

.w3-container {
    padding: 0;
    margin: 0;
}



#tableDiv {
    width: 33.33%;
    height: 100%;
}
#elecTable-parent {
    height: 70%;
    width: 100%;
}
#elecTable-buttons {
    height: 5%;
    /*max-height: 20%;*/
}
/*#elecTable-buttons > button,  #elecTable-buttons > label {
    height: 100%;
    width: 20%;
}*/
#elecTable-buttons > .elecTable-buttons-item {
    height: 100%;
    width: 20%;
}
#elecTable {
    height: 95%;
}
#elecSlideShow {
    height: 30%;
}
#elecSlideShow img {
    padding: 20px 0px 5px 0px;
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}



#elecStatic {
    width: 33.33%;
    height: 100%;
    overflow: auto;
}
#elecStatic > img {
    padding: 20px 0px 0px 0px;
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    margin-left: auto;
    margin-right: auto;
    display: block;
}




#scenesArea {
    height: 100%;
}
#threeDviewArea {
    height: 70%;
    width: 100%;
}
#planarScenes {
    height: 30%;
    width: 100%;
}
.planeDiv {
    height: 100%;
}



.tabulator-header-filter {
    font-size: 8px;
}
.tabulator-col-title {
    font-weight: 100;
}
.tabulator-row {
    font-weight: 300;
}
.tabulator-row.tabulator-group {
    padding: 2px;
}

#sceneGui-container {
    z-index: 5;
    padding-top: 2px;
    padding-right: 2px;
}
#legend {
    z-index: 5;
    padding-top: 2px;
    padding-right: 2px;
    display: none;
}
.cr.color input {
    height: 100%;
}

.scDialog {
    display: none;
    z-index: 10;
}